* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.violin {
    width: 50%;
    position: absolute;
    transform: rotate(-45deg);
    animation: tilt 5s linear;
    animation-iteration-count: infinite;
}

@keyframes tilt {
    50% {
        transform: rotate(-55deg);
    }
}

.bow {
    width: 50%;
    position: absolute;
    left: 25%;
    animation: play 2s linear;
    animation-iteration-count: infinite;
}

@keyframes play {
    0% {
        transform: rotate(-15deg);
        left: 20%;
    }
    25% {
        transform: rotate(20deg);
        left: 30%;
    }
    50% {
        transform: rotate(0deg);
        left: 20%;
    }
    75% {
        transform: rotate(20deg);
        left: 30%;
    }
    100% {
        transform: rotate(-15deg);
        left: 20%;
    }
}

.music {
    position: absolute;
    top: 15%;
    left: 5%;
}

.github {
    position: absolute;
    top: 5%;
    left: 5%;
    color: black;
    font-size: 1.5rem;
    line-height: 2rem;
}

.disclaimer {
    position: absolute;
    bottom: 0;
    left: 0;
}

